section{
    font-family: helvetica;
}

.textReg{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(74, 74, 74);
}

button{
    background-color: rgb(0, 136, 255);
    color: white;
    cursor: pointer;
    border: none;
    padding: 1vh 2vw;
    border-radius: 5px;
    margin: 1vh 0;
    width: 20vw;
}


.faceIcon{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}

.Register{
    background-color: white;
    border: 1px solid rgb(195, 195, 195);
    width: 20vw;
    height: 53vh;
    margin: 0 auto;
    margin-top: 3vh;
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
}

.GoLogin{
    background-color: white;
    border: 1px solid rgb(195, 195, 195);
    width: 20vw;
    margin: 3vh auto;
    padding: 3vh 3vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    color: rgb(52, 52, 52);
    font-size: 0.9rem;
}

.GoLogin t {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.Logo{
    width: 10vw;
    margin: 3vh 0;
}

#Terms{
    font-size: small;
    margin-top: 3vh;
    color: rgb(168, 168, 168);
}

.Download{
    width: 20vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.Download p{
    font-size: 0.9rem;
}

.Store1{
    width: 8.8vw;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}
.Store2{
    width: 9.5vw;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.GreySmall{
    color: rgb(168, 168, 168);
    cursor: pointer;
    font-size: small;
    margin: 3vh auto;
    width: 55vw;
    text-align: center;
}