*{
    font-family: helvetica;
}

.container{
    width: 500px;
    height: 720px;
    background-color: white;
    box-shadow: 7px 11px 41px -10px rgba(0,0,0,0.5);
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.userInfo{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.username{
    margin-left: 20px;
}

.username h2{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 17px;
}

.username span{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 15px;
}

.username h3{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 15px;
}

.postOptions{
    margin-right: 20px;
}

.username p{
    width: 200px;
    padding: 0;
    font-family: Helvetica;
}

.profileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.imgPost{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content:  center;
    margin-top: 5px;
}

.imgPost img{
    height: 500px;
    width: 500px;
}

.icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IgIcons{
    width: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
}

.IgIcons img{
    width: 28x;
    height: 28px;
}

.carousel{
    width: 80px;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grayCircle{
    margin-top: 30%;
    background-color: rgba(192, 192, 192, 0.827);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.blueCircle{
    margin-top: 30%;
    background-color: rgba(24, 90, 213, 0.892);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.saveIcon{
    margin-top: 10px;
    margin-right: 20px;
}

.saveIcon img{
    width: 28px;
    height: 28px;
}

.counter{
    font-family: helvetica;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.description{
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 3px;
}

.desUser{
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.desMess{
    font-weight: 400;
    padding: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

h5{
    font-family: Helvetica;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.421);
    padding: 0;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0;
}

h6{
    font-family: Helvetica;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.372);
    padding: 0;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0;
}

.likeButton{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
    font-family: Helvetica;
}

.likeButton img{
    width: 35px;
    height: 35px;
}