.Container{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.sectionImg{
    display: flex;
    flex-direction: row;
}


section img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.gradient {
    width: 60px;
    height: 60px;
    background: 
      linear-gradient(white, white) padding-box,
      linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 50%;
    border: 3px solid transparent;
}

section p{
    font-size: 16px;
    font-weight: 400;
    align-self: center;
    font-family: Helvetica;
}